page { 
  width: 780px;
  margin: auto;
  front-size: 16px;
  front-family: 'Source sans Pro', Galibri, Tahoma, sans-serif;
      }
  section{
    margin-bottom: 70px;
    text-align:justify;
         }
h2{
  front-size: 28px;
  color:#3388BB;
  text-transform: uppercase;
  border-bottom: 3px solid #3388DD
}
  sec-gauche{
    float: left;
    front-weight: blod;
    front-size:20px;
         }

  sec-droite{
    margin-left: 150px;
         }
titre{
  front-weight: blod;
  front-size:20px;
}
  
strang {front-size:26px;
}


